# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
main
*.dat

inp*.txt
out*.txt
ans*.txt
*.log
*.sst
data/

*.dSYM

*.pem
*_args.h
*_t.c
*_t.h
*_u.c
*_u.h

cdbhost
cdbenc
cdbenc.signed

tags
tests/db

*.pb.cc
*.pb.h
*.swp

third-party/

!src/host/towncrier/*.pb.cc
!src/host/towncrier/*.pb.h
